@charset "utf-8";

/* Small screens */
@media only screen and (max-width: 1280px) {
    .story_type_related {
        width: 48%;
    }
}

/* iPad */
@media only screen and (max-width : 1024px)  {
    .menu-link {
        padding: 0 5px;
    }

    .story {
        font-size: 26px;
    }

    .post {
        width: auto;
        font-size: 18px;
        padding: 0;
    }

    .block-media {
        margin: 40px auto;
    }


        .block-media__full {
            margin: 0;
        }

        .block-media__right {
            padding: 0 !important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            float: right;
            margin: 20px !important;
        }

        .block-media__left {
            padding: 0 !important;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            float: left;
            margin: 20px !important;
        }

    .headline {
    }

        .headline-info {
            font-size: 30px;
        }

    .hide-on-ipad {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .comments {
        margin: 40px auto;
    }

    .container_width_900,
    .container_width_1400,
    .container_width_max {
        padding: 0;
    }

    .block-text__background,
    .blog__image {
        background-attachment: scroll;
    }

    .club-description {
        font-size: 100%;
        margin: 20px auto;
    }

    .container_with_sidebar {
        display: block;
    }
}

/* iPhone */
@media only screen and (max-width : 570px) {
    .menu {
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: 14px;
    }

        .menu-item {
            margin-left: 1%;
        }

        .menu-link {
            padding: 0 5px;
            font-size: 15px;
        }

    .subscribe-block {
        float: left;
        margin-left: 30px;
        width: 70%;
        max-width: none !important;
    }

    .block-side,
    .block-media__left,
    .block-media__right {
        position: relative;
        margin: 30px auto !important;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        clear: both;
        float: none;
    }

    .block-20, .block-30 {
        width: 100%;
    }

    .block-text {
        padding: 30px;
    }

    .block-media figure {
        width: 100%;
        border: none;
        margin-left: 0;
        margin-right: 0;
    }

    .post-footer__inside {
        margin: 0 auto;
    }

    .menu-search {
        display: none;
    }

    .featured {
        display: none;
    }

        .featured-mobile {
            display: block;
        }

        .featured-block a {
            padding-left: 60px;
        }

        .featured-block img {
            width: 48px;
        }

        .featured-block strong {
            font-size: 20px;
        }

        .featured-block p {
            .featured p
        }

    .story {
        height: 275px;
        font-size: 15px;
    }

    .headline {
        min-height: 270px;
    }

        .headline-info {
            font-size: 18px;
        }

    .post {
        font-size: 16px;
    }

        .post-image_align_right {
            margin-right: 0;
        }

        .post-image_align_left {
            margin-left: 0;
        }

    .sidebar {
        display: none;
    }

    .sidebar-wrapper {
        margin-right: 0;
    }

    .club-title {
        font-size: 19px;
    }

        .club-title h1 {
            font-size: 40px;
        }

    .gallery-list__item {
        clear: both;
        width: auto;
        min-width: 100%;
    }

    .break-on-mobile {
        visibility: hidden;
        display: block;
        clear: both;
        height: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .hide-on-iphone {
        display: none;
    }

    .show-on-iphone {
        display: block;
    }

    .show-on-iphone-flex {
        display: flex;
    }

    .show-on-mobile {
        display: block;
    }

    .headline-info__date {
        display: none;
    }

    .width-25, .width-50, .width-75 {
        width: 100%;
    }
}
